<h1>Show</h1>

<%= link_to 'Back', portfolios_path %>

<h2><%= @portfolio_item.title %></h2>
<h3><%= @portfolio_item.subtitle %></h3>
<%= image_tag @portfolio_item.main_image if !@portfolio_item.main_image.nil? %>
<p><%= @portfolio_item.body %></p>

<h3>Technologies used:</h3>
<% @portfolio_item.technologies.each do |technology| %>
  <p><%= technology.name %></p>
<% end %>